body{

font-family: Arial, sans-serif;

background:
linear-gradient(135deg,#667eea,#764ba2);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}


.container{

background:white;

padding:40px;

border-radius:20px;

width:420px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,0.2);

}


h1{

color:#333;

}


input{

width:90%;

padding:15px;

margin:20px;

border-radius:10px;

border:1px solid #ccc;

font-size:16px;

}


button{

background:#667eea;

color:white;

border:none;

padding:15px 30px;

border-radius:10px;

cursor:pointer;

font-size:16px;

}


button:hover{

background:#764ba2;

}


.result h2{

font-size:28px;

color:#d9534f;

}


.url{

background:#f3f3f3;

padding:15px;

border-radius:10px;

word-break:break-all;

margin:20px;

}