<!DOCTYPE html>
<html>
<head>
    <title>Phishing Website Detector</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>🛡️ Phishing Website Detector</h1>

    <p>
        Machine Learning Based URL Security Analysis
    </p>


    <form action="/predict" method="POST">

        <input 
        type="text" 
        name="url"
        placeholder="Enter website URL..."
        required>


        <button type="submit">
            Check Website
        </button>

    </form>


</div>


</body>
</html>